
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g3">
    {% for story in site.stories %}
    <div class="col">
        <div class="card shadow-sm" style="width: 18rem;">
            <img src="{{ story.background | relative_url }}" alt="{{ story.title }}" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">{{ story.title }}</h5>
                <p class="cart-text">{{ story.blurb }}</p>
                <a href="{{ story.url }}" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
