.bg-image {
    height: 60vh;
    height: 80vh;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.serif {
    font-family: 'Lora', serif;
}

#myCarousel {
    height: 50vh;
}